Repository neo4j/docs-status-codes, pull requests merged in 2024-08, with the labels that each got.

#163 Fix HomeDatabaseNotFound severity level
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: gqlstatus-notifications

#161 Add `00N70` to the notification code `CommandHasNoEffect`
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: gqlstatus-notifications, 5.23

#174 Improve docs about compatibility codes (#172)
  modules/ROOT/pages/notifications/index.adoc
Labels: cherry picked, 5.x
