Repository neo4j/docs-status-codes, pull requests merged in 2024-11, with the labels that each got.

#210 Update messages for 22N04 and 22N27
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: gqlstatus-errors

#218 Update message for GQL code 22N82
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: gqlstatus-errors

#216 remove 22G12 and remake 22N38
  modules/ROOT/pages/errors/gql-errors.adoc
  modules/ROOT/pages/errors/index.adoc
Labels: 5.26, gqlstatus-errors

#220 Add the rest of implemented GQLSTATUS error codes
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: gqlstatus-errors

#224 Clarify situation around the UNION reordering deprecation
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: 5.26

#212 GQL framework
  README.adoc
  antora.yml
  modules/ROOT/content-nav.adoc
  modules/ROOT/pages/changelogs.adoc
  modules/ROOT/pages/errors/all-errors.adoc
  modules/ROOT/pages/errors/gql-errors.adoc
  modules/ROOT/pages/errors/index.adoc
  modules/ROOT/pages/index.adoc
  modules/ROOT/pages/notifications/all-notifications.adoc
  modules/ROOT/pages/notifications/index.adoc
Labels: gqlstatus-errors

#226 Add Neo.ClientNotification.Statement.RuntimeExperimental to the changelog
  modules/ROOT/pages/changelogs.adoc
Labels: cherry-pick this to 5.x

#227 Add Neo.ClientNotification.Statement.RuntimeExperimental to the chang…
  modules/ROOT/pages/changelogs.adoc
Labels: cherry picked, 5.x

#228 Add a warning that parsing status descriptions is not recommended
  modules/ROOT/pages/errors/gql-errors.adoc
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: 5.26

#229 Explain error compatibility
  modules/ROOT/pages/errors/index.adoc
Labels: dev, gqlstatus-errors
