Repository neo4j/docs-status-codes, pull requests merged in 2024-10, with the labels that each got.

#184 Modify the github workflows files to add the preview
  .github/workflows/docs-pr-checks.yml
  .github/workflows/docs-teardown.yml
Labels: gqlstatus-errors

#187 update the version to 4.4.38
  antora.yml
Labels: 4.4

#189 Document 01N71 and 00N72 for Linked users
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: 5.25

#183 Add connection exception errors
  modules/ROOT/content-nav.adoc
  modules/ROOT/pages/errors/gql-errors.adoc
  modules/ROOT/pages/errors/index.adoc
  modules/ROOT/pages/index.adoc
  modules/ROOT/pages/notifications/index.adoc
Labels: 5.26, gqlstatus-errors

#186 Add data exception codes. Part 1.
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: 5.26, gqlstatus-errors

#191 Add 25, 2D, and 42 codes
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: 5.26, gqlstatus-errors

#193 Fix the example of shortest path with an unbounded pattern
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: cherry-pick this to 5.x

#192 Notification param format
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: cherry-pick this to 5.x

#195 Notification param format (#192)
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: cherry picked, 5.x

#197 Add codes starting with 50
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: gqlstatus-errors

#198 Add codes starting with 51
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: gqlstatus-errors

#199 Add codes starting with 52
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: gqlstatus-errors

#196 Add codes starting with 42
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: gqlstatus-errors

#201 Add standard defined GQLSTATUS codes for data exceptions
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: 5.26, gqlstatus-errors

#204 remove gql standard notifications
  modules/ROOT/pages/notifications/index.adoc
Labels: gqlstatus-notifications

#206 Merge dev into 5.x
  antora.yml
  modules/ROOT/pages/notifications/all-notifications.adoc
  modules/ROOT/pages/notifications/index.adoc
Labels: 5.x

#207 remove a merge conflict leftover
  modules/ROOT/pages/notifications/index.adoc
Labels: dev, do not cherry-pick

#208 Update preview version to 5.26
  antora.yml
Labels: 5.26

#202 cip-190 deprecations
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: 5.26
