Repository neo4j/docs-status-codes, pull requests merged in 2024-07, with the labels that each got.

#150 Add GQLstatus to the notifications of the HINT category
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: gqlstatus-notifications

#152 Add GQL status to `RuntimeUnsupportedWarning`
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: gqlstatus-notifications

#155 update the exact version to 4.4.35
  antora.yml
Labels: 4.4

#153 Add GQL status to the `DEPRECATION` category
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: gqlstatus-notifications

#156 reformat performance notifications
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: gqlstatus-notifications

#157 Update headings
  modules/ROOT/pages/notifications/all-notifications.adoc
Labels: gqlstatus-notifications

#160 Update the exact version to 4.4.36
  antora.yml
Labels: 4.4

#158 Update `dev` to 5.23
  antora.yml
Labels: 5.23
