Repository neo4j/docs-status-codes, pull requests merged in 2025-01, with the labels that each got.

#248 Fix typos
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: dev, gqlstatus-errors

#250 Update exact version to 5.26.1
  antora.yml
Labels: 5.x, do not cherry-pick

#249 Add 22NB3 and 22NB4
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: dev, gqlstatus-errors

#243 Document errors implemented in 2025.01
  modules/ROOT/pages/errors/gql-errors.adoc
Labels: 2025.01
